@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    align-items: center;
}
body{
    display: flex;
    width: 60%;
    margin: auto;
    flex-direction: column;
    background: #000000;
}
.circle{
    display: flex;
    align-items: center;
    gap: 40px;
}
.ko{
    height: 215px;
    width: 215px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #FFE071;
}
.ko .inner-circle{
    position: absolute;
    border: 5px solid #ffffff;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.ko img{
    width: 270px;
    height: auto;
}
.circle .jilo{}

.circle .jilo h2{
    font-size: 46px;
    color: #ffffff;
}
.circle .jilo p{
    font-size: 22px;
    font-weight: 500;
    color: #A3ABB2;
}

.circle .jilo .jo{
    color: #A3ABB2;
    font-size: 20px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
}
.circle .jilo .jo i{
    cursor: pointer;
}
.circle .jilo .jo i:hover{
    color: #ffffff;
}
.now{
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    gap: 55px;
    text-align: center;
}
.olo{
    display:flex;
    margin-top: 30px;
    gap: 20px;
    color: none;
}
.kil{
    background: none;
    border: none;
    color: #453B3B;
    background-color: #FFE071;
    border-radius: 8px;
    width: 300px;
    height: 80px;
}
.li{
    color:#A7A4AB;
    background: none;
    border: none;
    border-radius: 8px;
    background-color: #201E25;
    width: 290px;
    height: 80px;
}
.tol{
    display: flex;
    margin-top: 25px;
    gap: 30%;
    align-items: center;
    background-color: #201E25; 
    width: 700px ;
    height: 90px;
    row-gap: 15px;
    border-radius: 15px;
    justify-items: center;

}
.tol .polo{
    background: none;
    border: none;
    border-radius: 5px;
    width: 249px;
    height: 60px;
    background-color: #000000;
    border-radius: 10px;
    margin-left: 18px;
    
}
.tol .jo{
    background: none;
    border: none;
}
.Pic{
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 40px;
}