*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
.ko img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid yellow;

}

.circle{
    display: flex;
    gap: 20px;

}
.now{
    display: flex;
    align-items: center;
    gap: 20px;
    color: gray;
}
.now:hover{
    border: 3px solid rgb(102, 185, 240);

}
.lol{
    text-align: center;
}
.dil{
    display: flex;
    gap: 20px;
}
.dil:hover{
    border: 3px solid rgb(102, 185, 240);
}
.kil{
    background-color: rgb(255, 248, 106);
    border-radius: 5px;
    padding: 5px;
    
}
.li{
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
}
.polo{
    background-color: rgb(19, 15, 1);
    border-radius: 5px;
    width: 130px;
    padding: 10px;
    color: rgb(246, 249, 252);
    text-align: center;
}
.tol{
    display: flex;
    width: 300px;
    background-color: rgb(98, 92, 92);
    background-size: 35%;
    border-radius: 5px;
    padding: 5px;
    gap: 50px;
    
}
.tol:hover{
    border: 3px solid rgb(102, 185, 240);

}
.pl{
    border-radius: 10px;
    padding: 5px;
}
.Pic{
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
    justify-items: center;
}
.Pic:hover{
    border: 3px solid rgb(102, 185, 240);
}    
body{
    background-color: rgba(19, 19, 19, 0.993);
    justify-items: center;
    top: 200px;
    padding: 10px;
}
h2{
    color: aliceblue;
}
p{
    color: gray;
    font-size: small;
    
}
footer{
    color: gray;
}
.fa-facebook-square{
    color: aliceblue;
}
.fa-github{
    color: aliceblue;
}
.fa-linkedin-square{
    color: aliceblue;
}
.fa-youtube-square{
    color: rgb(248, 244, 244);
}
.solo{
    display: flex;
    gap: 10px;
}
