*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
.jilo{
    width: 500px;
    height: 156px;
}
.jo{
    display: flex;
    gap: 25px;
    color: rgb(167 164 171);
    background: none;
    border: none;
    align-items: center;
    
}
.ko img{
    width: 215px;
    height: 215px;
    border-radius: 50%;
    border: 5px solid yellow;

}
.olo{
    width: 618px;
    height: 80px;
}
.circle{
    display: flex;
    gap: 20px;
    width: 627px;
    height: 215px;
}
.now{
    display: flex;
    text-align: center;
    column-gap: 60px;
    color: #A7A4AB;
    width: 500px;
    height: 142px;
    
}
.dil{
    display: flex;
    gap: 20px;
}
.kil{
    background-color: #FFD76D;
    border-radius: 5px;
    width: 130px;
    padding: 10px;
    border: none;
    
}
.li{
    background-color: #171F26;
    border-radius: 5px;
    padding: 5px;
    width: 130px;
    height: 38px;
    color: #A7A4AB;
    border: none;
}
.polo{
    background-color: rgb(19, 15, 1);
    border-radius: 5px;
    width: 349px;
    height: 60px;
    padding: 10px;
    color: rgb(246, 249, 252);
    border: none;
}
.tol{
    display: flex;
    width: 756px;
    height: 80px;
    background-color: #201e25;
    background-size: 35%;
    border-radius: 5px;
    padding: 8px;
    gap: 50px;
    text-align: center;
   
    
}
.pl{
    border-radius: 10px;
    padding: 5px;
}
.Pic{
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
    justify-items: center;
    flex-wrap: wrap;
}   
body{
    background-color: rgba(19, 19, 19, 0.993);
    top: 200px;
    padding: 10px;
    justify-items: center;
}
h2{
    color: aliceblue;
}
p{
    color: gray;
    font-size: small;
    
}
footer{
    color: gray;
}
.fa-facebook-square{
    color: aliceblue;
}
.fa-github{
    color: aliceblue;
}
.fa-linkedin-square{
    color: aliceblue;
}
.fa-youtube-square{
    color: rgb(248, 244, 244);
}
.solo{
    display: flex;
    gap: 10px;
}