.circle{
    display: flex;
    gap: 20px;

}
img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid;
}
.now{
    display: flex;
    align-items: center;
    gap: 20px;
}
.lol{
    text-align: center;
}
.dil{
    display: flex;
    gap: 20px;
}
.kil{
    background-color: rgb(255, 248, 106);
    border-radius: 5px;
    padding: 10px;
}
.li{
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
}
.polo{
    
    border-radius: 10px;
    padding: 10px;
}
.tol{
    display: flex;
}
.lolo{
    border-radius: 5px;
    padding: 10px;
}
.tol{
    background-color: gray;
}