@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
  /* Dark Shades */
  --color-dark-1: #000000;
  --color-dark-2: #19191B;
  --color-dark-3: #3A3A3A;
  --color-dark-4: #3D3D3D;
  --color-dark-5: #575757;

  /* Light Shades */
  --color-light-1: #FFFFFF;
  --color-light-3: #E9EBEC;
  --color-light-4: #E7E7E7;
  --color-light-5: #D7D7D7;

  /* Brand / Accent */
  --color-primary: #3E64AA;
  --color-accent-1: #F7D039;
  --color-accent-2: rgba(251, 209, 68, 0.57);
}
body{
    background: var(--color-light-3);
}

.theme-change-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 33px;
    padding: 20px;

    .icon{
        width: 80px;
        height: 80px;
        background: var(--color-light-1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        svg{
            width: 40px;
            height: 40px;
            path {
                fill: var(--color-dark-4);
            }
        }
    }

}

.profile-details {

    margin-top: 65px;
    width: 631px;
    margin: auto;
    display: grid;
    grid-template-columns: 215px auto;
    align-items: center;
    gap: 40px;
    .profile-image {
        width: 215px;
        height: 215px;
        overflow: hidden;
        background: var(--color-accent-1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        position: relative;
        img {
            height: 219px;
            width: auto;
        }
        .image-style-and-image {
            position: absolute;
            width: 97%;
            height: 97%;
            margin: 10px;
            border: 5px solid var(--color-light-1);
            border-radius: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .details{
        width: 100%;
        color: var(--color-dark-4);
        h2{
            font-size: 46px;
        }
        p{
            font-size: 22px;
        }
        .social-links{
            font-size: 30px;
            margin-top: 12px;
            display: flex;
            align-items: center;
            gap: 26px;
            i{
                cursor: pointer;
            }
        }
    }
}

.profile-facts{
    display: flex;
    align-items: center;
    justify-content: center;
    .fact-item {
        margin-top: 48px;
        display: grid;
        grid-template-columns: 148px 148px 148px;
        gap: 90px;
        .fact{
            text-align: center;
            color: var(--color-dark-5);
        }
    }
}

.profile-buttons{
    margin-top: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
    button{
        padding: 24px 42px;
        border-radius: 10px;
        font-size: 22px;
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        &:hover{
            background-color: var(--color-accent-2);
            border-color: var(--color-accent-2);
        }
    }
}

.tabs-buttons{
    margin-top: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px 24px;
        background: var(--color-light-1);
        border-radius: 20px;
        .active{
            padding: 24px 132px;
            border: 1px solid var(--color-light-5);
            background: var(--color-light-5);
            border-radius: 10px;
        }
        button{
            padding: 24px 132px;
            border: 1px solid var(--color-light-1);
            background: var(--color-light-1);
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                border-color: var(--color-light-5);
                background: var(--color-light-5);
            }
        }
    }
}

.portfolio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 65px;
    .item-list {
        display: grid;
        grid-template-columns: 332px 332px;
        gap: 32px;
        .portfolio-item {
            position: relative;
            cursor: pointer;
            border-radius: 15px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
            .container{
                display: none;
                position: absolute;
                top: 0;
                z-index: 1;
                height: 100%;
                text-align: center;
                background: #FBD14491;
                padding: 0 40px;
                h1{
                    font-size: 22px;
                }
                p{
                    font-size: 14px;
                }
            }
            &:hover{
                .container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

footer{
    margin: 80px 0;
    text-align: center;
}
@media screen and (max-width: 473px) {
     body{
        
        justify-content: center;
        align-items: center;
        background-color: #0C151D;
    }
    .profile-details{

                margin-top: 30px;
                justify-items: center;
                justify-content: center;
                align-items: center;
                width: auto;
                display: grid;
                grid-template-columns:  auto;
                gap: 40px;
                

            .profile-image {
                display: flex;
                width: 107px;
                height: 107px;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                background: var(--color-accent-1);
                border-radius: 100%;
                position: relative;
            img {
                height: 116px;
                
            }
        }
            .details{
    
                align-items: center;
                justify-items: center;
                width: 100%;
                
            h2{
                font-size: 32px;
                color: #f1f2f4;
            }
            p{
                font-size: 14px;
                color: #90989F;
             }
            .social-links{
                font-size: 20px;
                margin-top: 10px;
                display: flex;
                align-items: center;
                color: #A3ABB2;
                gap: 26px;
                    i{
                        cursor: pointer;
                
                     }  
                }
            } 
      } 
      .profile-facts{
            display: flex;
            width: 450px;
            height: 106px;
            
        .fact-item {
            margin-top: 30px;
            display: grid;
            grid-template-columns: auto auto auto;
            font-size: 14px;
            gap: 20px;
            
            
        .fact{
            text-align: center;
            color: #99A1A9;
        }
        
    }
        
    }
    .profile-buttons{
    margin-top: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
    button{
        padding: 18px 44px;
        border: none;
        border-radius: 10px;
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        &:hover{
            background-color: #FFE071;
            border-color: var(--color-accent-2);
        }
    }
    .contact-btn{
        background-color: #171F26;
        color: #A3ABB2;
    }
}
.tabs-buttons{
    margin-top: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    div{
        display: flex;
        align-items: center;
        gap: 60px;
        width: 90%;
        height: 80%;
        padding: 12px;
        background-color: #171F26;
        border-radius: 8px;
        .active{
            padding: 12px 80px;
            border:none;
            background-color: #0C151D;
            color: #A3ABB2;
        }
        button{
            padding: 12px 20px;
            background: none;
            border: none;
            color: #A3ABB2;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                border-color: var(--color-light-5);
                background: var(--color-light-5);
            }
        }
    }
}
.portfolio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 65px;
    .item-list {
        display: grid;
        grid-template-columns: 375px;
        gap: 32px;
        .portfolio-item {
            position: relative;
            cursor: pointer;
            border-radius: 15px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
            .container{
                display: none;
                position: absolute;
                top: 0;
                z-index: 1;
                height: 100%;
                text-align: center;
                background: #FBD14491;
                padding: 0 40px;
                h1{
                    font-size: 22px;
                }
                p{
                    font-size: 14px;
                }
            }
            &:hover{
                .container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}       
}
  
}                            
                                          